* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  /*background-color: #081131; */
}
/*
  Card color = #111B40
  Subtitle color = #515A7D
  Border outline = #172045
  Highlight = #0283FF
  
*/
